@import "tailwindcss";

.custom-carousel .react-multiple-carousel__arrow {
  top: 50% !important;
  transform: translateY(-100%) !important;
}
.custom-carousel2 .react-multiple-carousel__arrow {
  top: 50% !important;
  transform: translateY(-50%) !important;
}
